.paper{
    margin-top: 10;
    display:flex;
    flex-direction:column;
    align-items:center;
  }

  .avatar{
      margin: 1;
      color: skyblue;
  }
  
  .form{
      width: 100%;
      
  }

  .div_icon{
      display: flex;
      flex-direction:row;
      margin-bottom: 30px;
      margin-top:30px;
  }



  .Select_Formcontrol{
    minWidth:220;
    }

 .Grid_all{
     width: 1000px;
     margin-top:10px;
     margin-bottom:10px;
    
 }

 .Button_gender{
     margin: 20px;
     width:100px;
     height:50px;
 }

 .appbar{
    margin-left: 100;
 }
